---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}

{% assign total_pubs = site.publications | size %}
{% assign journal_pubs = site.publications | where: "category", "manuscripts" %}
{% assign conf_pubs = site.publications | where: "category", "conferences" %}
{% assign dataset_pubs = site.publications | where: "category", "Datasets" %}

<h3>Total Publications: {{ total_pubs }}</h3>
<h4>Journal Articles: {{ journal_pubs | size }}</h4>
<h4>Conference Papers: {{ conf_pubs | size }}</h4>
<h4>Datasets: {{ dataset_pubs | size }}</h4>
<span>Under Review: 6+ </span>

<div class="wordwrap">
  You can also find my articles on:
  <a href="{{site.author.googlescholar}}">Google Scholar</a> |
  <a href="{{site.author.researchgate}}">ResearchGate</a> |
  <a href="https://www.webofscience.com/wos/author/record/OUK-3620-2025">Web of Science</a>
  <a href="https://www.scopus.com/authid/detail.uri?authorId=60027552000">Scopus</a>
</div>

<hr />

{% endif %}

<!-- Category-wise Rendering -->
{% if site.publication_category %}

{% assign sorted_pubs = site.publications | sort: "order" | reverse %}

{% for category in site.publication_category %}
{% assign title_shown = false %}

{% for post in sorted_pubs %}

{% if post.category != category[0] %}
{% continue %}
{% endif %}

{% unless title_shown %}
<h2>{{ category[1].title }}</h2>
<hr />
{% assign title_shown = true %}
{% endunless %}

{% include archive-single.html %}

{% endfor %}
{% endfor %}

{% else %}

{% assign sorted_pubs = site.publications | sort: "order" %}
{% for post in sorted_pubs %}
{% include archive-single.html %}
{% endfor %}

{% endif %}